:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #003366; /* Azul escuro */
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("https://www.alura.com.br/assets/img/escola-categorias/sharing/escola-programacao-share.1647533643.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%; /* Largura da tabela */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: flex-start; /* Alinhamento dos itens no topo */
}

.container__caixa {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo interno */
    align-items: center; /* Alinhamento vertical */
    flex-direction: column; /* Coloca texto e botões em coluna */
    width: 100%;
    text-align: center; /* Centraliza texto */
}

.container__descricao {
    width: 100%; /* Largura total */
}

.container__botoes {
    display: flex;
    flex-direction: column; /* Botões em coluna */
    align-items: center; /* Centraliza os botões */
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em; /* Espaçamento entre botões */
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

/* Outros estilos aqui */

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
